[2014-02-25 13:04] vgevorgyan opened #1 "Send text with emoji to server."
Hello,

I have problem with send the text with emoji to server.
When I send they are becoming to ???.
Server side work perfectly, because I have tested it with the iOS version.

Any suggestion?

Thanks,
Vardan

[2014-02-26 14:00] kanu8 opened #2 "Attach fragment in PopupWindow"
Hello,

First of all, congratulations for the library, it's great!

Is it possible to create a PopupWindow with fragment "EmojiconsFragment" to do a layer like whattsapp (to toggle keyboard to emojicons)?
I tried this with the DialogFragment and PopupWindow and there's always the error:

IllegalArgumentException: No view found for id...

If I attach the fragment in the general layout, it works cor

[2014-03-02 19:05] etchen99 opened #3 "Installation issues - some tips"
Thanks for writing this!

Some tips for installation, at least for Windows 7:

One tip that would have saved me time would be in the Eclipse Integration Gradle installation - don't waste time installing the STS dashboard.  Just install from the update site, and make sure that you uncheck the Spring-based tools (which are checked by default).  If you don't, then you may run into other dependency is

[2014-03-03 05:30] #3 closed, assigned to rockerhieu

[2014-03-04 10:26] #1 closed, assigned to rockerhieu

[2014-03-05 11:20] #2 closed, assigned to rockerhieu

[2014-03-15 09:12] ShenghuGong opened #4 "How to use it in a fragment?"
I want use the emojicon, and the parent is a fragment, I mean the EditEmojicon view in a fragment. I can't use it! So How to use it in a fragment? thanks...

[2014-03-17 12:27] #4 closed, assigned to nobody

[2014-03-18 04:20] rockerhieu opened #5 "Create a new task"
This is a new task
@gissues:{"order":87.5,"status":"done"}

[2014-03-18 04:20] rockerhieu opened #6 "Create a new task"
This is a new task
@gissues:{"order":75,"status":"done"}

[2014-03-18 04:21] rockerhieu opened #7 "Try out scrhub"
Yeehaa
@gissues:{"order":50,"status":"done"}

[2014-03-18 04:23] #5 closed, assigned to rockerhieu

[2014-03-18 04:23] #6 closed, assigned to rockerhieu

[2014-03-18 04:23] #7 closed, assigned to rockerhieu

[2014-04-23 15:09] urbanknight opened #8 "ListView is very laggy"
Great Work!
But it's too laggy. I think if you used one image for each category will solve the problem.

https://github.com/DrKLO/Telegram/tree/master/TMessagesProj/src/main/assets

https://github.com/DrKLO/Telegram/blob/master/TMessagesProj/src/main/java/org/telegram/messenger/Emoji.java

[2014-07-05 06:02] curiousmit opened #12 "How to store these emoji's to SQLite database and retrieve them?"
Problem storing these emoji's to SQLite database and retrieving them as these emoji's support utf8mb4 encoding which is not supported by SQLite, i suppose. Currently if i try to store and retrieve from database it gives a ?? for each emoji.

How to store and retrieve these to android SQLite database.

[2014-07-22 18:47] gio777 opened #13 "No recently used tab"
@rockerhieu , thanks for a great project!
The only other issue besides the lag, is the lack of a 'recently used' tab in the keyboard.

[2014-07-23 21:08] AbbySharma opened #14 "how to get unicode of the emoji symbol"
I follow your example to work with EditText. I can type in the emoji from keyboard but when I do editText.getText(), then it shows me the symbol, not the unicode. PLease guide in this regard. Thanks for the library.

[2014-07-28 01:43] kingsleyadio opened #15 "Sample app crashes when brought back to foreground"
I was getting an Exception about casting Object[] to Emojicon[] whenever I try bringing the app back to foreground. I traced the bug down to the EmojiconGridFragment and I've already created a pull request against this.
I haven't tested with actual apps, but I guess the same will happen in as much as the emoji keyboard was active the before the app was taken to background

[2014-07-31 11:35] #15 closed, assigned to nobody

[2014-08-04 13:01] ocram opened #17 "Don't use copyrighted emoji icons (Apple)"
Right now, the library uses Apple's emoji icons, which are used by thousands of apps, but that doesn't make them free. They're still copyrighted and not released under any free license.

Why not use a free icon set, e.g. Android's old emoji font (4.1 - 4.4)?

All of Android's emoji are [here](https://github.com/delight-im/AndroidEmoji-PNG) as PNGs, for example.

[2014-08-17 13:52] daniele-athome opened #20 "More Android-style tabs"
If I modify your library for a more Android-ish style for the pager buttons (that is, moving them on top of the grid and applying styles from the LatinIME from AOSP), would you accept that? This view seems so "iOS" :-)
I will implement this in my fork anyway, although I'd like to know if you would accept that: in that case, I'd be careful to not mess with the XML files and the drawables too much (

[2014-08-20 16:34] #13 closed, assigned to nobody

[2014-08-20 21:09] #20 closed, assigned to nobody

[2014-08-21 02:27] AboShera opened #21 "Emojicon in ListFragment"
Hi rockerhieu,

First, thanks for the great library, I'm trying to use your library in my project, I'm using listfragment, the code is below,

<code>
  public class DetailsFragment extends ListFragment implements
        LoaderCallbacks<Cursor>,
        EmojiconGridFragment.OnEmojiconClickedListener,
        EmojiconsFragment.OnEmojiconBackspaceClickedListener {

[code]

public View onCreateView(L

[2014-08-22 04:02] #21 closed, assigned to nobody

[2014-08-22 18:51] ankushsachdeva opened #22 "using DialogFragment"
Can we have the EmojiconsFragment class in the form of a dialog(using DialogFragment) so that we can easily replace this fragment in place of the soft keyboard. This is how whatsapp and other messaging apps smoothly toggle between qwerty keyboard and emoticons

[2014-08-25 06:38] HananeAlSamrout opened #24 "rockerhieu-emojicon keyboard"
hello
 i'm finding a problem in rockerhieu-emojicon keyboard downloaded from this link
https://github.com/rockerhieu/emojicon

when launching the example, in the "recent" fragment numbers are showing and they are not pictures, just numbers.. any one have any idea how to solve this?

[2014-09-01 21:28] vgarzom opened #26 "How to draw emoji using canvas"
Hi! I'm working in a custom view where I draw some text using canvas.drawText(...). Is It possible to draw some emojicons using this canvas? Thanks so much for your help.

[2014-09-15 11:35] lawrence615 opened #29 "Hide and Show EmojiconsFragment"
hi,

This is not an issue par se, just seeking some help on hiding and showing the EmojiconsFragment.

I tried doing it this way;

Fragment mFragment = new EmojiconsFragment();
getSupportFragmentManager().beginTransaction().hide(mFragment).commit();

This however did not work.

 Any ideas on how to achieve this?

Thanks

[2014-09-19 19:37] StevenRudenko opened #31 "Gradle build depends on com.android.support:support-v4:21.0.0-rc1"
You can't just add compile row to gradle build script like this:
`compile 'com.rockerhieu.emojicon:library:1.0'`

You will get an error: _Manifest merger failed : uses-sdk:minSdkVersion 10 cannot be smaller than version L declared in library com.android.support:support-v4:21.0.0-rc1_

Temporary solution is to put next lines into project build.gradle:

[code]

[2014-09-20 03:29] #31 closed, assigned to nobody

[2014-10-15 05:58] chenchongyu opened #35 "why set EmojiconTextView linkHit false?"
hi,I have a question when I use the emojiconTextView.It can't work when I write some urls because the linkHit in EmojiconTextView is false(or dontConsumeNonUrlClicks is true).why set it this?Then what will be the consequence if I change it.

[2014-10-16 13:06] msander opened #36 "ClassCastException"
I sadly do not know exactly how to reproduce this...

[code]

[2014-10-25 01:18] Borys216307 opened #38 "emojicon:emojiconSize doesn't work"
Hello, Everyone!

I have kept trying to change the size of the emojicons shown on my chat app which uses this repository for 2 days but eventually failed.

I have tried several options: XML layout, runtime modification on the emojicon size.

1. Here's what I used in my layout.
...
<com.rockerhieu.emojicon.EmojiconTextView
                            android:id="@+id/me_tv"

[2014-10-29 16:56] #36 closed, assigned to nobody

[2014-10-29 17:00] #26 closed, assigned to nobody

[2014-10-29 17:00] #24 closed, assigned to nobody

[2014-10-29 17:01] #17 closed, assigned to nobody

[2014-10-29 17:01] #14 closed, assigned to nobody

[2014-11-09 10:06] #29 closed, assigned to nobody

[2014-11-11 10:00] felixswang opened #41 "Seems to be wrong release version. Example not working for using unsupported method"
Using IntelliJ and importing as

compile 'com.rockerhieu.emojicon:library:1.0'

However, in EmojiActivity.java, none of

mEditEmojicon.setUseSystemDefault(b)
mTxtEmojicon.setUseSystemDefault(b)
EmojiconsFragment.newInstance(useSystemDefault)

could be found.

Did I config the dependencies wrong or the library has a version mismatch with the example?

Thanks,

- Felix

[2014-12-05 06:30] qadir227 opened #43 "How to getText + with Emojis from EmojiconEditText and send to webservice"
First let me thanks for sharing such an awesome library

I have implemented the EmojiconEditText in my app. Now I want to get the Text+Emojis from the Edit Text. and then I want to send the text to a php service and save in the My Sql Database.

Im getting the (??????????) instead of the Emojis via myEditText.getText().toString(); is there any other method for this.

Please Help

[2014-12-11 13:55] Sanjay-F opened #44 "why the image looook seems lower than the text ?"
![word](https://cloud.githubusercontent.com/assets/8078089/5395132/620eb326-8180-11e4-94a9-6860e265689f.png)

[2015-01-01 20:02] harishannam opened #45 "Cannot Resolve method Type Boolean"
@rockerhieu
I used your example code in my project. Used the same Layout file. Imported the dependencies in gradle. Everything is done as mentioned. But still I get an error in the Cannot Resolve method error for

"setUseSystemDefault(b)" and "EmojiconsFragment.newInstance(useSystemDefault)"

Am I missing something?

[2015-01-01 20:04] harishannam commented on #44
Hey @Sanjay-F  Am getting Cannot Resolve method error in setUseSystemDefault and newInstance. Any idea where I am going wrong?

[2015-01-05 15:07] rexi1r opened #46 "NoSuchFieldError :com.rockerhieu.emojicon.R$id.emojis_tab_0_recents"
i got this error NoSuchFieldError :com.rockerhieu.emojicon.R$id.emojis_tab_0_recents

[2015-01-06 08:24] rexi1r commented on #46
My library project also has same name layout emojicons.xml as my main project.
Android will give priority to host project if both have the same Layout name.

[2015-01-06 08:24] #46 closed

[2015-01-19 12:40] yfeizi opened #47 "Error inflating class fragment"
when i add the emoji list fragment (EmojiconsFragment) like the example , its return this error : `ERROR/AndroidRuntime(419): FATAL EXCEPTION: main
        java.lang.RuntimeException: Unable to start activity ComponentInfo{info.guardianproject.otr.app.im/info.guardianproject.otr.app.im.app.ChatViewActivity}: android.view.InflateException: Binary XML file line #89: Error inflating class fragment`

[2015-01-19 13:49] daniele-athome commented on #47
Please paste the full stacktrace, including the root cause.

[2015-01-19 20:01] Neno0o commented on #45
I have the same problem. Have you any luck to solve it?

[2015-01-19 20:03] harishannam commented on #45
Not yet, I gave up. If you get any solution, please update it here.

[2015-01-20 05:04] yfeizi commented on #47
i resolved this ! sorry but please add to readme that the host activity must implement `OnEmojiconClickedListener` and `OnEmojiconBackspaceClickedListener` :-)

[2015-01-20 09:48] daniele-athome commented on #45
Guys it's probably the maven cache gone crazy. Clear everything in ~/.m2 and invalidate cache and restart from Android Studio.

[2015-01-20 09:49] daniele-athome commented on #47
@yfeizi you should be able to close the issue, please do it (I'm not a project member).

[2015-01-20 11:13] #47 closed

[2015-01-29 20:03] harishannam commented on #45
No, Actually the EmojisFragment.class is not having the necessary code when it is imported through maven. Please help what to do regarding this.

[2015-01-30 09:01] daniele-athome commented on #45
In that case it might be a maven deployment problem. @rockerhieu should intervene.

[2015-01-31 10:14] SqualalaTeam commented on #43
@dhams

How can I implement this with Retrofit please ?

[2015-02-03 05:41] #43 closed

[2015-02-12 15:25] Egorand commented on #41
Hi @rockerhieu

Any plans to release 1.1 to the Maven Central?

Thanks
Egor

[2015-02-13 10:19] rockerhieu commented on #41
@Egorand you could continue using `1.1-SNAPSHOT`. If there is nothing critical coming up, I will release it to maven in couple days.

[2015-02-21 06:48] seema7 opened #48 "Ellipsis for emojicon"
when i enter more emojicons and they are out of the view then I am not able to show ellipsis. I tried android:singleLine="true"
 android:ellipsize="end"
but not working.
Please help.

[2015-02-21 12:01] daniele-athome commented on #48
It happens with Android stock apps too. Seems to be a limitation of some kind. I tried to look for a solution, didn't find any.

[2015-02-22 16:33] rockerhieu commented on #48
I can see the ellipsize just fine:
[code]

Maybe you could find the answer here: http://stackoverflow.com/questions/6768977/text-does-not-ellipsize

[2015-02-22 16:33] #48 closed

[2015-02-22 17:17] daniele-athome commented on #48
@rockerhieu did you try by placing more letters (so the letters overflow) and some emojis at the end? In some cases (such as a ListView item) you can a half emoji at the end. But that's probably a different case from the one OP described.

[2015-02-23 05:15] seema7 commented on #48
@rockerhieu I tried your solurion and it works only when text is there at the end not for emojicons.
Half emoji is displayed when Emoji is at the end or emojis that are  out of the view. Please help.

[2015-02-24 10:44] seema7 opened #49 "Unicode of emojicons"
How can I add the unicodes of all the Emojicons into a hashmap or array? Please help.

[2015-02-25 08:27] elprudenciado commented on #45
Any updates about this issue? I also experiencing this right now. If no fix yet, any alternatives or workaround?

[2015-03-01 15:21] rockerhieu commented on #45
Could you guys check again with `1.1-SNAPSHOT`? I'm deploying `1.1` to maven but getting network error, will try again tomorrow.

[2015-03-01 16:37] rockerhieu commented on #45
`1.1` is deployed! Please give it sometimes to sync to maven central.

[2015-03-01 16:37] rockerhieu commented on #41
`1.1` is deployed! Please give it sometimes to sync to maven central.

[2015-03-01 16:48] rockerhieu commented on #45
Hmm, the deployment was be rejected. Checking...

[2015-03-01 16:48] rockerhieu commented on #41
The deployment was be rejected. Checking...

[2015-03-01 18:16] rockerhieu commented on #45
Confirmed, `1.1` is on maven central https://github.com/rockerhieu/emojicon/issues/41

[2015-03-01 18:16] rockerhieu commented on #41
Confirmed, 1.1 is on maven central

[2015-03-01 18:16] #41 closed

[2015-03-02 08:49] daniele-athome opened #50 "Convert TextViews used GridView to simple ImageViews"
Shouldn't be more optimal to use plain ImageViews instead of the TextView approach? On medium to low end devices the emoji panel takes a lot to load (like ten seconds). Even on my Samsung I9100 it takes like 4-5 seconds to load.
Before sending you a patch, I'd like to know if using TextView was a deliberate decision and, if that's the case, reasons why we can't use ImageView.

[2015-03-03 01:49] #45 closed

[2015-03-03 01:54] rockerhieu commented on #50
I chose TextView as to keep the implementation simple and didn't pay much attention to the performance. If changing to ImageView help then sure, we should do that.

[2015-03-03 03:35] KennethYo commented on #44
@Sanjay-F 你处理好这个问题了吗？

[2015-03-03 07:06] rockerhieu commented on #44
Fixed in 2b58b54. Please try out `1.2-SNAPSHOT`.

[2015-03-04 02:33] KennethYo commented on #44
@rockerhieu Still no handle `android:lineSpacingExtra="10sp"`
![image](https://cloud.githubusercontent.com/assets/3237000/6477080/cdd53872-c259-11e4-83da-8388d052936e.png)

[2015-03-04 19:12] Wirwing opened #51 "Publish 1.1 and SNAPSHOTS releases to maven"
Hi!

I'm trying to compile library with 1.1 version, but maven artifact is not being found. Is there any chance you could please push the latest version. Same with 1.2-SNAPSHOT.

Thanks in advance!

[2015-03-12 07:12] senthilzohocorp opened #53 "Library not working."
Hi your library works fine when lazy swipe is not enabled. once i install and enable lazy swipe app emoji keyboard doesn't show.

[2015-03-12 07:21] rockerhieu commented on #53
What is lazy swipe? Can you explain?

[2015-03-12 15:33] h-2 opened #54 "won't build for me"
Hi,

I am trying to build Kontalk which pulls in emojicon as a submodule, but it fails:
http://pastebin.com/Q4VRhnyF

I have also tried directly building emojicon with `./gradlew clean build --debug` , it results in the following log:
http://pastebin.com/Zj5L1rZi

Thanks for your help!

[2015-03-12 15:37] daniele-athome commented on #54
@h-2 building emojicon directly from our forks fails because of modifications I've made to the library and the example app is incompatible now.
Anyway what steps did you use to download all the stuff? Also git submodule commands etc.

[2015-03-12 15:52] h-2 commented on #54
I did `git clone --recursive https://github.com/kontalk/androidclient`
Then I spent half of the day making the android-sdk work.
Then I ran `./gradlew clean build` in the androidclient directory and produced the first pastebin. Trying to run gradle in the subdir was just wild guessing...

(I am also in the IRC, in case you want to reach me faster)

[2015-03-12 20:43] daniele-athome commented on #54
I can build master successfully using

[code]

Try to cleanup your environment:

* delete ~/.m2
* delete androidclient/.gradle
* delete androidclient/*/build

Also please check your SDK installation too (you need API level 21 and build tools 21.1.2).

[2015-03-12 21:09] h-2 commented on #54
I tried all of that, but it doesn't help, same results :sob:
Maybe its related to my setup, I don't know. I am actually running an oracle jdk compiled for 32bit Linux through the linux binary compatibility layer of FreeBSD (64bit), it seems utterly ridiculous for a language that claims cross-platformness as number one feature, but oh well. I will investigate it further when I have time again.
Than

[2015-03-12 21:09] #54 closed

[2015-03-12 21:12] daniele-athome commented on #54
@h-2 I'm sorry but I can't help you with FreeBSD...

[2015-03-12 21:27] h-2 commented on #54
@daniele-athome
Yeah, no problem, I wouldn't want you to spend more time on it anyway, as there are many more important things to do on Kontalk ;)

[2015-03-13 05:44] senthilzohocorp commented on #53
Lazy swipe is a widget like app that allows us to configure and launch apps
from desktop.I attached the screenshot below on the issue.

On Thu, Mar 12, 2015 at 12:51 PM, Hieu Rocker <notifications@github.com>
wrote:

[2015-03-13 07:49] rockerhieu commented on #53
Is this Lazy Swipe you mentioned: https://play.google.com/store/apps/details?id=com.lazyswipe&hl=en
Could you please provide more details on the issue? i.e logs, screenshot (or video)?

[2015-03-13 08:05] rockerhieu commented on #51
Weird, I could find them:
* http://maven-repository.com/artifact/com.rockerhieu.emojicon/library/1.1
* https://oss.sonatype.org/content/repositories/snapshots/com/rockerhieu/emojicon/library/1.2-SNAPSHOT/

Please double check the dependencies configuration.

[2015-03-13 08:05] #51 closed

[2015-03-14 11:19] senthilzohocorp commented on #53
Ya...exactly the same app..I already attached screenshot...after installing
this, the smiley keyboard moved above keyboard
On 13-Mar-2015 1:20 pm, "Hieu Rocker" <notifications@github.com> wrote:

[2015-03-14 13:48] funcoding commented on #22
Can this feature be implemented?

[2015-03-14 13:49] daniele-athome commented on #22
@funcoding I ended up rewriting all objects as views and used a popupwindow. You can find the code kontalk/emojicons, but please note that is not compatible with the current emojicon library.

[2015-03-14 14:12] ankushsachdeva commented on #22
you can use ankushsachdeva/emojicon
On 14 Mar 2015 19:20, "Daniele Ricci" <notifications@github.com> wrote:

[2015-03-14 14:41] funcoding commented on #22
@ankushsachdeva I tried out your's and facing some issues with lollipop

[2015-03-14 14:41] funcoding commented on #22
@daniele-athome Thanks. I shall have a look.

[2015-03-17 16:26] dekaru commented on #22
@daniele-athome @ankushsachdeva  is it possible to get your projects from gradle?

[2015-03-17 16:56] daniele-athome commented on #22
@dekaru I don't think so, I plan to merge my modifications to @rockerhieu repository.

[2015-03-18 10:44] ankushsachdeva commented on #22
Not as of now, but I plan to do it in future
On 17 Mar 2015 21:56, "David Álvarez" <notifications@github.com> wrote:

[2015-03-31 23:25] pY4x3g opened #56 "Cut off of emojicon."
If I use a EmojiconTextView and set emojicon:emojiconSize="28sp" (and android:textSize="16sp") the emojicon will be cutted of on top and bottom if there is no other text in the field.
If there is text and an emojicon it will be displayed correctly until the emojicon is wrapped alone to a new line.

So, I think the necessary size of the emojicon will not be given to the TextView element to display

[2015-04-03 11:44] pY4x3g opened #57 "Save Instance State crashes for the new recent tap."
I get the following error. I think this issue is related to
https://code.google.com/p/android/issues/detail?id=77285.
Perhaps i'll try to fix it by myself in a few days, but i wanted to share this bug.

java.lang.IllegalStateException: Fragment EmojiconRecentsGridFragment{44be12c0 id=0x7f060030} is not currently in the FragmentManager
	at android.support.v4.app.FragmentManagerImpl.putFragment(Frag

[2015-04-03 11:52] pY4x3g commented on #57
Oh, after I submitted this issue I saw that there is already a patch for the support package.
So, perhaps this bug don't arise in a newer version of the support package. I'll give it a try and will give an update here.

[2015-04-04 03:15] rockerhieu commented on #57
Cool, I will check it out.

[2015-04-07 13:36] maheshwarLigade opened #59 "Emoji are not shown correctly on browser and sumsung devices"
When i am sending message from my device to other. On samsung device it shows me the black white format and on same of the android device it shows only boxes.

[2015-04-09 16:33] SkyNite opened #60 "How can i print the emoji as unicode format"
Hi,

Thanks for the wonderful library. When i print the entered text with Emoji icons it displayed like text with some drawable, is it possible to print that emoji as unicode format.

[2015-04-09 17:48] pY4x3g commented on #56
So, I did a rollback before the commit "Align the icons and text properly" (391ef939fd0969ccc7c727e9fe34188bc265f45f), and this issue is gone. So the bug have to be in this commit.

[2015-04-10 04:25] seema7 commented on #60
StringEscapeUtils.escapeJava(<edittext>.getText().toString()); to get it in unicode format.

[2015-04-13 09:16] SkyNite commented on #60
Thank you so much @seema7

[2015-04-16 22:31] AmirHadifar commented on #45
@rockerhieu
Same Issue , and I also add  compile 'com.rockerhieu.emojicon:library:1.1-SNAPSHOT' to build.gradle but gave me error can not resolve ! How can i fix this ?

[2015-04-18 15:10] rockerhieu commented on #59
Emoji is only supported in `EmojiconTextView` and `EmojiconEditText`. If you try to view the entered text on Browsers or else where you will see only boxes.

[2015-04-18 15:11] #59 closed

[2015-04-23 11:03] geekmario opened #61 "新版本的editText没有光标了！"
The edittext widget don't have cursor in new emojicon version.

[2015-04-24 10:20] jagatappv commented on #38
Hey,
I am having same issue.
Why its not increasing emoji icon size.

This is my code:
 <com.rockerhieu.emojicon.EmojiconTextView
                    android:id="@+id/tvDescription"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_marginTop="10dp"
                    android:text="@string/app_name"

[2015-04-24 18:46] efecannn commented on #61
+1

[2015-05-13 12:50] bolatov commented on #22
hello @daniele-athome,

any news on merging your modifications?

[2015-05-14 19:27] daniele-athome commented on #22
@bolatov sorry not yet. I'm trying to find the time to do it, but I can't promise anything though. I will do it :-)

[2015-05-26 14:51] payamprivate opened #62 "Getting error after adding the library to gradle"
Hi everyone , I try to add the library to my project ,after adding the gradle ->
compile 'com.rockerhieu.emojicon:library:1.0'

I get this error in android studio:
Error:(13, 9) Execution failed for task ':app:processDebugManifest'.

  	is also present at com.rockerhieu.emojicon:library:1.0:4:45 value=(@drawable/ic_launcher)
  	Suggestion: add 'tools:replace="android:icon"' to <application> elemen

[2015-06-12 01:51] kirby510 opened #63 "Ellipsize Emojicon without Reducing the TextSize"
Is that possible to make the emojicon ellipsize in the end of the emojiconTextView without reducing the size?

[2015-06-14 18:38] Saketme commented on #63
+1

[2015-06-16 19:14] Joqus commented on #62
I am having a similar problem, check this out:

http://stackoverflow.com/questions/29965398/gradle-finished-with-non-zero-exit-value-1-ic-launcher-png-error-duplicate-fi

[2015-06-17 01:48] TakWolf commented on #62
There is an image resourse "ic_launcher.png"  conflict, you can add library manual.This is author's negligence.

Step:

1. clone the project.

2. Find library folder and delete  all "ic_launcher.png" in library.

3.copy library folder to your project root path and rename "library" to "emojicon-library"

4. In "settings.gradle" add "include 'emojicon-library'

5.In "app/build.gradle" include like t

[2015-06-17 01:59] #63 closed

[2015-06-18 17:31] mazoni opened #64 "New release sugestion"
Guys, I've just leaving this as a reminder to release a new version (1.0.1) or so, since this build.gradle line:
[code]
is now the reason why this library must now be included like this:

[code]
since the new support-v4:22.2.0 has some breaking issues related to missing classes and interfaces.
I did notice that the new build.gradle is now fixed, so it's just a matter of creating a new release.
The

[2015-06-25 05:12] kirby510 opened #65 "How to calculate each character for emojicon?"
Is there any way to calculate the appearance of emojicon in EmojiconTextView accurately? Such as 😎😎😎 is consider as 3 characters.

Thanks in advance for willing to help.

[2015-07-01 21:22] evasyuk opened #66 "Site with detail description of this library is unavailable"

[2015-07-03 05:25] suraj9781 commented on #45
I am  also facing same issue  with 1.0

[2015-07-05 13:33] EpsilonOrionis commented on #21
Error:(36, 13) Failed to resolve: com.rockerhieu.emojicon:library:1.1-SNAPSHOT
<a href="openFile">Show in File</a><br><a href="open.dependency.in.project.structure">Show in Project Structure dialog</a>

[2015-07-05 13:59] EpsilonOrionis opened #67 "Library problems......"
Why don't you update your project? The compile('...') for the 1.1 SNAPSHOT version in gradle returns an error and the 1.0 doesn't work. It isn't easy to implement in our projects and so on... I think that if you respect your work and yourself, you should upgrade this project as soon as possible, because it represents you. You've created a library that works only with your demo. You should make it

[2015-07-06 12:11] suraj9781 commented on #57
Got the same crash:
STACK_TRACE=java.lang.IllegalStateException: Fragment EmojiconRecentsGridFragment{43d9f8e8 id=0x7f0d00de} is not currently in the FragmentManager
at android.support.v4.app.FragmentManagerImpl.putFragment(FragmentManager.java:573)
at android.support.v4.app.FragmentStatePagerAdapter.saveState(FragmentStatePagerAdapter.java:188)
at android.support.v4.view.ViewPager.onSaveInstanceS

[2015-07-07 08:46] #62 closed

[2015-07-08 09:10] rockerhieu commented on #67
There are newer versions on Maven. Check them out and let me know.

[2015-07-08 09:10] #67 closed

[2015-07-08 15:46] rockerhieu commented on #66
Thanks, just fix the broken CNAME. Btw, you can find everything you need in `README.md`.

[2015-07-08 15:46] #66 closed

[2015-07-08 15:47] rockerhieu commented on #64
Done.

[2015-07-08 15:47] #64 closed

[2015-07-10 06:38] KennethYo commented on #61
you can use `android:textCursorDrawable="@null"` in your `EmojiconEditText`

[2015-07-10 07:41] pawaramitr opened #68 "need help with emoji lib. retriving emoji from server with unknown characters"
Hi Sir,
I'm referring your emoji library from github. But I am not receiving some emoji from database server which used Emojicon.fromCodePoint(0x1f604) method. But emoji with Emojicon.fromChar((char) 0x263a) method works fine.
Please help me Sir. What changes should I do to get those emoji.

when I rename emoji file name with working emoji file name (.png file name) then that emoji work fine..

th

[2015-07-10 14:08] EpsilonOrionis opened #69 "Open-close Emoji grid with a button"
Could you suggest a method which I can use to open and close the grid with a buttonm like telegram?

[2015-07-11 16:00] rockerhieu commented on #69
There is no such method yet. But you can implement it yourself using
DialogFragment or normal view.
On Fri, Jul 10, 2015 at 9:08 PM EpsilonOrionis <notifications@github.com>
wrote:

[2015-07-12 10:40] EpsilonOrionis commented on #69
Is it possible to open EmojiconFragment on the keyboard and close it when it is not longer needed using a DialogFragment?

[2015-07-12 10:48] rockerhieu commented on #69
Sure it is possible.
ᐧ

On Sun, Jul 12, 2015 at 5:40 PM, EpsilonOrionis <notifications@github.com>
wrote:

--
Hieu Rocker

[2015-07-15 06:03] kirby510 commented on #65
I solved this problem, just add these code in the bottom of EmojiconHandler.java

public static int calculateTextLength(Context context, Spannable text, int index, int length, boolean useSystemDefault) {
        if (useSystemDefault) {
            return 0;
        }

        int textCount = 0;
        int textLength = text.length();
        int textLengthToProcessMax = textLength - index;

[2015-07-15 06:04] #65 closed

[2015-07-15 17:26] Jaymo commented on #22
@ankushsachdeva  facing issues using your library on API level >=21 any workaround ?

[2015-07-23 18:42] Carlos77c opened #71 "Problem with size in multiple lines textview"
Hi i'm using the latest version of your library and i'm having some trouble with multiple line textviews

![screenshot_2015-07-23-20-34-14](https://cloud.githubusercontent.com/assets/5265163/8858964/cdb88e62-317a-11e5-8982-c398627a777d.png)

I don't know if i'm missing something or my configuration is incorrect
My textSize is 16sp and my emojiconSize is 28sp the rest attributes are default values

[2015-07-28 16:36] CHRehan opened #72 "Emojiicon fragments cannot be cast to android.app.Fragment"
Caused by: java.lang.ClassCastException: com.rockerhieu.emojicon.EmojiconsFragment cannot be cast to android.app.Fragment
            at android.app.Fragment.instantiate(Fragment.java:577)
            at android.app.Fragment.instantiate(Fragment.java:552)
            at android.app.Activity.onCreateView(Activity.java:4656)
            at android.view.LayoutInflater.createViewFromTag(LayoutInflater

[2015-07-29 07:45] CHRehan commented on #69
i am also face the same problem @EpsilonOrionis  and @rockerhieu  if you have any sample code then please mail me at my this address chrehansarwar@gmail.com..
thanx in advance

[2015-08-03 08:00] sagarlotus opened #73 "Cross platform Emoji Support"
This emoji library is part of one of my android application,same application have desktop client also. Sent emoji can view mobile to mobile. But for cross platform facing issue that while passing emoji through desktop to mobile n vice versa,respective emoji is not reflecting at another client, Rather it shows single box only.

Kindly advice for cross platform emoji support.

[2015-08-03 08:03] daniele-athome commented on #73
I don't think this is easily possible. GUI toolkits and frameworks are very different between platforms. It would require a major refactoring to support multiple "pluggable" interface modules for the different UI frameworks (Android, Swing, SWT). I don't know how much effort @rockerhieu could put into this.

[2015-08-03 08:17] sagarlotus commented on #73
@daniele-athome Thanks for rely. Can you suggest me some way to get out of this?

[2015-08-03 08:18] daniele-athome commented on #73
You may reuse the emoji-specific parts such as emoji-unicode mappings, but that's all. The UI parts must be rewritten, sorry.

[2015-08-03 08:20] sagarlotus commented on #73
@daniele-athome But what exactly means UI parts. I am not getting the technical term for the same.

[2015-08-03 08:21] daniele-athome commented on #73
Controls, widgets, layouts, it's Android stuff. Clearly you can't use them on desktop.

[2015-08-03 08:23] sagarlotus commented on #73
@daniele-athome  Okies. I think i have to make the changes on both sides i.e. android end and desktop end. And in my opinion i think uni code mapping is only correct way what u also saying.

[2015-08-15 17:01] rockerhieu commented on #72
Please make sure you're importing `android.support.v4.app.Fragment` and not `android.app.Fragment`.

[2015-08-15 17:01] rockerhieu commented on #38
Checking...

[2015-08-15 17:03] rockerhieu commented on #38
I change `emojicon:emojiconSize` in `activity_main.xml` of the example project, it is working perfectly fine. Closing the issue.

[2015-08-15 17:03] #38 closed

[2015-08-15 17:06] rockerhieu commented on #73
I have no plan to support `emojicon` outside of Android. But you can implement one by reusing the emoji mapping.

[2015-08-15 17:06] #73 closed

[2015-08-18 07:04] superketto commented on #69
I have the same problem, You have the solution or an example for me? thanks... petrarolim at gmail.com

[2015-08-24 07:18] woodcockjosh opened #75 "Console errors: libpng warning: iCCP: Not recognizing known sRGB profile that has been edited"
Theses warnings are generated when building

1.3.1/res/drawable-nodpi/emoji_1f4bd.png: libpng warning: iCCP: Not recognizing known sRGB profile that has been edited
1.3.1/res/drawable-nodpi/emoji_1f555.png: libpng warning: iCCP: Not recognizing known sRGB profile that has been edited

It needs to be cleaned up with meta data removal
http://brewformulas.org/exiftool

You can fix the issue with this

[2015-08-25 16:11] rockerhieu commented on #75
Thanks, I will fix it in the next few hours
On Mon, Aug 24, 2015 at 2:18 PM Josh Woodcock <notifications@github.com>
wrote:

[2015-08-26 02:54] rockerhieu commented on #75
Fixed in b7cf766.

[2015-08-26 02:54] #75 closed

[2015-08-26 03:54] woodcockjosh commented on #75
Thanks!

Sent via the Samsung GALAXY S® 5, an AT&T 4G LTE smartphone

-------- Original message --------
From: Hieu Rocker <notifications@github.com>
Date:08/25/2015  9:54 PM  (GMT-06:00)
To: rockerhieu/emojicon <emojicon@noreply.github.com>
Cc: Josh Woodcock <joshwoodcock@beagile.biz>
Subject: Re: [emojicon] Console errors:  libpng warning: iCCP: Not recognizing
  known sRGB profile that has been

[2015-08-27 04:30] #72 closed

[2015-08-29 20:22] CHRehan commented on #72
i am trying to hide or show the fragment using one button can you send me
the code of this work??

On Thu, Aug 27, 2015 at 9:30 AM, Hieu Rocker <notifications@github.com>
wrote:

--

*Best Regards:REHAN .CH.*

*CELL #       +92_333_6933303*

[2015-09-04 16:09] gorio commented on #12
I have the same problem.

Does Anyone got any solution ?

I need to save message from EmojiconEditText to database and after get data and show in a EmojiconTextView.

Is it possible ?

[2015-09-04 16:13] themitshah commented on #12
Yes indeed i have found one. The data type for the emoji to be stored on
server, needs to be kept as NVARCHAR or equivalent. For me, that solved the
problem of storing and retrieving emoji to and from db.
On 4 Sep 2015 21:39, "Eduardo Gorio" <notifications@github.com> wrote:

[2015-09-04 17:16] gorio commented on #12
Have you used SQLite ?

[2015-09-04 17:29] gorio commented on #12
How to get text from EmojiconEditText ?

EmojiconEditText etMessage;
etMessage.getText().toString()

[2015-09-04 17:34] gorio commented on #12
@themitshah could you contact me goriofab@gmail.com ? Thank you

[2015-09-04 18:34] gorio commented on #12
![screenshot_2015-09-04-15-31-52](https://cloud.githubusercontent.com/assets/3804913/9691685/62202a40-531a-11e5-8708-831c6f6e7d4c.png)

[2015-09-05 06:30] seema7 commented on #12
you may store the emoticons from edit text as
StringEscapeUtils.escapeJava(edittext.getText().toString());  to get it in unicode format.

and decode it back to emoticon u can use
textview.setText(StringEscapeUtils.unescapeJava(<unicode_emoticon>));

[2015-09-08 05:10] soban-shareviasms opened #76 "Layout Problem in mobiles have on screen button."
When run in nexus 5 which have on screen buttons instead of physical buttons like back, home, task.

emoji keyboard went above the keyboard and hides the edittext.
Kindly solve this problem.

[2015-09-08 05:34] rockerhieu commented on #76
Can you send a screenshot?

On Tue, Sep 8, 2015 at 12:10 PM Muhammad Soban Akram <
notifications@github.com> wrote:

[2015-09-08 07:13] soban-shareviasms commented on #76
1st screenshot when keyboard is hide and 2nd screenshot when keyboard already opened..

From: Hieu Rocker [mailto:notifications@github.com]
Sent: Tuesday, September 08, 2015 10:34 AM
To: rockerhieu/emojicon
Cc: Muhammad Soban Akram
Subject: Re: [emojicon] Layout Problem in mobiles have on screen button. (#76)

Can you send a screenshot?

On Tue, Sep 8, 2015 at 12:10 PM Muhammad Soban Akram <
notif

[2015-09-08 12:08] soban-shareviasms commented on #76
1st screenshot when keyboard is hide and 2nd screenshot when keyboard already opened..
![bug 01](https://cloud.githubusercontent.com/assets/13640323/9734406/3a9c51c6-564c-11e5-9c46-ae239bbbe9b4.png)

![bug 02](https://cloud.githubusercontent.com/assets/13640323/9734413/420378ea-564c-11e5-9a99-6cdc00cd2566.png)

[2015-09-08 15:11] rockerhieu commented on #76
I don't think it has anything to do with the library. Can you send me your layout file and the code?

[2015-09-08 19:03] Kentverger commented on #62
I use `compile 'com.rockerhieu.emojicon:library:1.2'` and this problem persist.

What extra information do you need to replicate the error?

[2015-09-09 03:06] rockerhieu commented on #62
@Kentverger please use `1.3.1`.

[2015-09-09 04:41] soban-shareviasms commented on #76
Problem is emoji keyboard height.
It include the onscreen buttons in keyboard height.

And no invoke the keyboard when keyboard is hidden.
So, it takes the height according to on screen button height.

[2015-09-11 04:58] liaohuqiu opened #77 "Add badge for android-gems.com"
Added badge for android-gems: http://www.android-gems.com/lib/rockerhieu/emojicon , it looks like this:

[![Android Gems](http://www.android-gems.com/badge/rockerhieu/emojicon.svg?branch=master)](http://www.android-gems.com/lib/rockerhieu/emojicon)

[2015-09-14 02:56] gdky005 opened #78 "warning: iCCP: Not recognizing known sRGB?"
In Android Studio, gradle complie(gradle clean, gradle build)

:Android_KaolaFM:mergeDebugResources
AAPT: /Users/XXX/build/intermediates/exploded-aar/com.rockerhieu.emojicon/library/1.2/res/drawable-nodpi/emoji_1f4bd.png: libpng warning: iCCP: Not recognizing known sRGB profile that has been edited

AAPT: /Users/XXX/build/intermediates/exploded-aar/com.rockerhieu.emojicon/library/1.2/res/drawable-

[2015-09-14 03:08] rockerhieu commented on #78
Can you try `1.3.1` instead?

[2015-09-14 03:09] rockerhieu commented on #78
Fixed in https://github.com/rockerhieu/emojicon/pull/70.

[2015-09-14 03:09] #78 closed

[2015-09-14 03:10] rockerhieu commented on #76
This issue is out of the library scope. Closing.

[2015-09-14 03:10] #76 closed

[2015-09-22 09:41] bigggge opened #80 "when i click emojiicon ,it is not added to edittext?why"

[2015-09-22 09:46] #80 closed

[2015-09-29 06:15] 283076875 opened #81 "与 IOS 交互使用Emoj 如何适配"
与 IOS 交互使用Emoj 如何适配

[2015-10-02 20:07] daniele-athome commented on #56
I can confirm this bug occurs after commit 4703384b2ee79c5e5eb93d8c17498c0bcb7a68f3. Seems some calculations are not correct (or maybe we are not using it right?)

[2015-10-02 20:27] daniele-athome commented on #56
Very good explanation of font metrics that could help solving this issue: http://stackoverflow.com/a/27631737/1045199

[2015-10-04 08:23] orenoren opened #82 "Add the new emojis of Unicode 8 / IOS 9"
Here is a reference:
https://github.com/iamcal/emoji-data

[2015-10-09 06:23] MarianVasilca opened #83 "Emoji code and icons"
Hello, where can i found a list with all emoticons supported and their afferent codes? ths

[2015-10-09 12:11] daniele-athome commented on #83
All image files are here:
https://github.com/rockerhieu/emojicon/tree/master/library/src/main/res/drawable-nodpi

The mapping is inside the source code, but suffice it to say that the filename suffix of the images is the unicode hex value. You can see the actual mapping here:
https://github.com/rockerhieu/emojicon/blob/master/library/src/main/java/com/rockerhieu/emojicon/EmojiconHandler.java

[2015-10-27 04:02] pfives opened #85 "Handle colored emoji modifiers (added in iOS 9.0)"
This is sort of the same as #82 but iOS has also added support for emoji modifiers (http://emojipedia.org/modifiers/) essentially a shading color option to the emojis, e.g. various skin tones yellow, brown, black etc.

They accomplished this by adding extra bytes to the end of the emoji representation. So for example escaped unicode for the first bump is: \u1F44A while a modified one can be repres

[2015-10-28 20:52] pfives opened #86 "ANR"

[2015-10-28 20:56] pfives opened #87 "Application not responding when copy-pasting lots of emojis into EmojiconEditText"
I just glanced quickly but it looks like the setText method of EmojiconEditText, which will be run on the main thread is the one that also calls EmojiconHandler which does all the processing and setting EmojiconSpans on the view.

Could we instead do this processing work on a background thread and create a list of EmojiconSpans and then just set them to the view all at once?

[2015-11-02 18:47] aalt0 commented on #22
hi, any news on this?

[2015-11-04 01:43] #86 closed

[2015-11-04 12:58] naveedrocks1 opened #88 "App crashes after adding emojicon"
I tried to add this lib into my app my app crashes, here is my logcat

11-04 18:23:47.173  15136-15136/com.koshur.socialnetwork E/AndroidRuntime﹕ FATAL EXCEPTION: main
    Process: com.koshur.socialnetwork, PID: 15136
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.koshur.socialnetwork/com.koshur.socialnetwork.activities.MessagingActivity}: android.view.InflateException:

[2015-11-12 11:13] adolfdsilva commented on #83
If you could add this in readme it would be great..
Thanks!!!

[2015-11-14 05:43] adolfdsilva opened #89 "Gradle build error."
Hi,

Getting below error during build
    Error:(8) No resource identifier found for attribute 'emojiconAlignment' in package 'package name'

Using build tools 23.0.2

[2015-11-15 14:30] VihaanVerma89 opened #90 "Apk size increases by 3mb"
Hey,

I added your library and the size of my apk increased by 3 mbs. Are you also shipping lots of images with the library ?

Thanks
Vihaan

[2015-11-15 14:31] daniele-athome commented on #90
What do you think?
:-)

[2015-11-15 14:34] VihaanVerma89 commented on #90
I'm guessing it's the images. Can't be sure unless I check the source code :|

[2015-11-15 14:39] daniele-athome commented on #90
You're right, it's the actual emojis taking all that space.

[2015-11-16 02:35] rockerhieu commented on #89
@adolfdsilva can you post your build script?

[2015-11-16 13:23] naveedrocks1 commented on #90
@VihaanVerma89 were you able to add this lib?

[2015-11-17 09:26] laiforever3 opened #91 "set android:lineSpacingExtra="20dp" have problem。"
I find if set android:lineSpacingExtra="20dp" ，the emojicon will be down。
I solve it by use ：
  if (mVerticalAlignment == ALIGN_BASELINE) {
            transY = top + ((paint.getFontMetricsInt().descent - paint.getFontMetricsInt().ascent) / 2) -                          ((b.getBounds().bottom - b.getBounds().top) / 2) - mTop;

        }

My English is poor！ 哈哈

[2015-11-17 09:29] laiforever3 commented on #44
@KennethYo   try it
 if (mVerticalAlignment == ALIGN_BASELINE) {
            transY = top + ((paint.getFontMetricsInt().descent - paint.getFontMetricsInt().ascent) / 2) - ((b.getBounds().bottom - b.getBounds().top) / 2) - mTop;
        }

[2015-11-25 17:11] harveyprince opened #92 "what's the latest-version"
I saw the website which told me that's 1.0,but I noticed the time is '2 years ago' and this project has modified 4 months ago
I use gradle to import this project.
and I find out EmojiconsFragment dont has method "newInstance" but this library does.
I thought there is another version?
or I can only use this library as the latest?

[2015-11-25 17:26] harveyprince commented on #92
okay, just this website needs to update.
I saw the release and find out the version is 1.2

[2015-11-25 17:26] #92 closed

[2015-11-26 22:06] orenoren commented on #85
any progress with this issue?

[2015-11-29 16:17] tuhin10 commented on #89
Warning:Project app: apk dependencies can only be jars. com.rockerhieu.emojicon:library:aar:1.3.1 is an Android Library.

[2015-11-29 19:17] tuhin10 opened #93 "SoftKeyboard open/close listner?"
How can I detect SoftKeyboard open/close events to hide/show the emoji fragment?

[2015-12-02 05:30] tuhin10 commented on #93
hi any update on this?

[2015-12-04 09:52] rockerhieu commented on #93
You can try to use this code:
[code]

[2015-12-04 09:52] #93 closed

[2015-12-04 09:53] #90 closed

[2015-12-04 09:53] rockerhieu commented on #88
The host activity must implement `OnEmojiconBackspaceClickedListener`. Please check the example.

[2015-12-04 09:53] #88 closed

[2015-12-04 09:56] rockerhieu commented on #89
@tuhin10 can you post your build script?

[2015-12-04 10:12] tuhin10 commented on #93
I have to make LinearLayoutThatDetectsSoftKeyboard  as the root element right??

[2015-12-06 13:08] tuhin10 commented on #69
+1

[2015-12-10 02:29] rockerhieu commented on #87
I think we can also implement some sort of lazy loading for EmojiconSpan, but I'm not sure how to notify EmojiconSpan to refresh itself when the emoji is resolved.

[2015-12-10 02:29] #89 closed

[2015-12-10 02:30] #83 closed

[2015-12-10 02:30] rockerhieu commented on #81
This library is for Android only.

[2015-12-10 02:30] #81 closed

[2015-12-10 02:31] #53 closed

[2015-12-12 23:00] EsteveAguilera commented on #71
The **emojiconSize** is way much bigger than the **textSize**...

Just increase the **textSize** or reduce the **emojiconSize** and the emojis will fit on multiple lines

[2015-12-17 18:35] DagobertDokate opened #99 "android:autoLink="web" not working"
Addedn android:autoLink="web" in the xml file is not working.
Links cant be clicked.

[2015-12-21 07:33] yehyatt opened #100 "Maven version number correct link"
In the documentation theres a link that claims the version number is here :

https://github.com/rockerhieu/mvn-repo/tree/master/com/rockerhieu/emojicon/library

where it is actually here:

http://mvnrepository.com/artifact/com.rockerhieu.emojicon/library

[2015-12-21 09:17] Wumingla commented on #12
i through "rails new scaffold p name :string description:text" and i use the sqlite,when the description has emoji,   the sqlite can not store it ,how to deal it?thanks

[2015-12-21 18:12] MrBrightside29 commented on #99
Is working fine in my case.

[2015-12-23 21:11] pfives opened #101 "Push the latest changes to Maven Repository"
Hey @rockerhieu can we get an update (1.3.3?) with the new iOS 9.1 emojis pushed to the Maven Repo? Thanks!

[2015-12-27 09:51] rockerhieu commented on #101
I'm on vacation, I will do it in 2-3 days :dancer:

[2015-12-28 23:20] laylizzlle commented on #101
we are still waiting

[2016-01-04 03:19] JohnFeng commented on #44
@Sanjay-F I guess this emoji's layout problem comes from the "MultiplelineSpace" property. When this property is set, both the bottom line and base line of the text have changed. Thus, no matter the alignment is the  ALIGN_BASELINE or not, it would be lower a little bit.

I believe the only method to fix this problem is using customized ImageSpan. [Here is the answer](http://stackoverflow.com/ques

[2016-01-05 04:20] rockerhieu commented on #101
Pushed to maven, please wait up to 2 hours.

[2016-01-05 04:20] #101 closed

[2016-01-06 09:33] tim1004457 opened #102 "Too many icons！"
But I just need some of them.
I have to copy the source code and icons to my project.

[2016-01-06 09:45] rockerhieu commented on #102
You can fork the project and get rid of the ones you don't need.

[2016-01-06 09:45] #102 closed

[2016-01-12 03:42] 377376701 opened #103 "输入表情卡顿现象"
Hello,您好，我下载了你写的Demo,运行看了下效果，发现如果连续点击输入表情会有卡顿现象，越多越卡！

[2016-01-13 06:21] jamontes79 opened #104 "Sbt dependency error"
Hi,

I'm trying to use the library with sbt project, but I have an error.

unresolved dependency:  com.rockerhieu.emojicon#library_2.11;1.3.3: not found

This is my import line: libraryDependencies += "com.rockerhieu.emojicon" % "library" % "1.3.3"

Thanks in advance

[2016-01-14 11:57] jamontes79 commented on #104
I've just solved it.

Thanks, great library

[2016-01-14 11:57] #104 closed

[2016-01-22 13:42] AlexMercier opened #106 "lagging on latest version"
before I'm using v1.3.1 library, and my list view no lagging on scroll.
but after updating to 1.3.4 listview scrolling in very lagging. Profiler show me that emojis library take a lot of cpu time.
on screenshot (look at point 18) also on the graph line the red is a method getResources from emojilibrary.
![method profiler](http://i.imgur.com/f3LwYi7.png)

![method profiler](http://i.imgur.com/RW2IV

[2016-01-22 14:02] breezejin opened #107 "crash with java.lang.IndexOutOfBoundsException: getChars(), has end before start"
i input
┃  ┏┃┃┃┏┛
┃  ━┛━┛┏┛
 ━┛♡♡ ━┛
between two emoji icon, my code crashed, help me.

error log as below:

01-22 21:40:32.726: E/AndroidRuntime(2140): java.lang.IndexOutOfBoundsException: getChars (23 ... 13) has end before start
01-22 21:40:32.726: E/AndroidRuntime(2140): 	at android.text.SpannableStringBuilder.checkRange(SpannableStringBuilder.java:1009)
01-22 21:40:32.726: E/AndroidRuntime(21

[2016-01-22 14:55] breezejin commented on #107
Notice: you should input two emojiicon first, and then insert that string bewteen them, you can see the problem.
You can not input them one by one.

[2016-01-27 10:46] CodeBoyChd opened #109 "Caused by: java.lang.NoClassDefFoundError: com.rockerhieu.emojicon.R$drawable"
My Application is crashing everytime when I call this function:
EmojiconHandler.addEmojis(getContext(), builder, mEmojiconSize, mEmojiconAlignment, mEmojiconTextSize, mTextStart, mTextLength, false);

This is happening in 4.4.2 version or may be also below 5, For more than 5 version this is working absolutely fine.
--------------------------------------------------------------
Caused by: java.lang

[2016-01-27 12:17] lastw0nd3r commented on #109
I am also facing the same issue. Can we have this sorted on priority? @rockerhieu @CodeBoyChd @daniele-athome @KTachibanaM

[2016-02-11 13:24] voghDev commented on #49
+1. Looking for the same, for serveral minutes now. Did checkout of the project, but codes seem not to match. e32d (purple heart) is icon number _1f49c

[2016-02-11 13:43] edsilfer opened #110 "How to change keyboard background color?"
I'm only able to see the keyboard bk in black color, how can I change that to a custom color?

[2016-02-11 18:48] pfives commented on #49
Purple heart is U+1F49C http://emojipedia.org/purple-heart/.

[2016-02-12 07:28] voghDev commented on #49
thanks for the link @pfives. If you look at the samples, the value it assigns is:

    android:text="I \ue32d emojicon"

Do you know the correspondence between \ue32d and \U+1F49C ?

[2016-02-15 17:16] spartacus777 opened #111 "Real performance issue in new ver"
I implement chat app. And use your super lib to represent emoji. I used ver 1.0 before.
Recently, I updated to ver 1.3.3 and receive real lags - in my adapter i have for 150ms setText to chat items, because of emoji. And it is very good notesed by eyes, also with very little fps represented.
So i fall back to ver 1.0.
The lack in 1.0 is that i can not align emoji on the baseline of textview. But p

[2016-02-16 10:50] wilsonssss commented on #106
resolved, just annotate  line 1681~1707   at `EmojiconHandler.java` , it runs very fast ^_^

[code]

[2016-02-17 12:49] larrytech7 opened #112 "Binary XML file: Error inflating class fragment"
Unable to inflate my layout when i use this fragment that holds a set of emojis.
Both EmojiFragment and EmojiGridFragment are unable to be inflated in my layout.

[2016-02-18 01:05] WanClem opened #113 "Emoticons loading so slow."
While paging around emojicon fragments.The app hangs at intervals..and also during oncreate of activity,when emojicons are loaded activity takes too much time to launch...

[2016-02-18 11:27] SalmanTariq commented on #112
Post your xml

[2016-02-19 21:16] bsautner commented on #112
just passing by and saw this - you get that error if you don't implement the click interfaces like the sample code.  This is the error at the top of the stack trace when the info at the bottom shows the real problem. Also extend FragmentActivity instead of Activity - i got this error and that fixes it. hope this helps, nice library.

[2016-02-22 04:20] tim1004457 commented on #102
I did as you say.
But there are too many icons.
I have to check them one by one;and remove the icons from the java file~~holy shit~~
Maybe we can develop a tools for this.

[2016-02-24 21:54] edsilfer commented on #110
Just in case anybody needs a version where the theme is modern and compatible with telegram and whatsapp, I've created this library https://github.com/instachat/emoji-library based on this great contribution of rockerhieu.

[2016-02-25 01:35] pfives commented on #110
Why not just contribute to this project?

[2016-02-25 01:45] edsilfer commented on #110
Because I've change a major part of the architecture. Layout is not based on fragment anymore - I've found this approach little practicle and hard to use. I've took the opportunity to organize the code in a cleaner way and extend the purpose of the library, offering an implementation of two panels, telegram and whats app like. By doing that, the library save the developer time to implement the dis

[2016-02-25 01:50] pfives commented on #110
cool thanks

[2016-02-26 22:42] larrytech7 commented on #112
I am using this in a Fragment not even in an Activity

[2016-02-26 22:42] larrytech7 commented on #112
I'll try to reproduce the error, and paste my xml and error generated later for better assistance.

[2016-03-01 06:35] uday231992 opened #115 "Android studio failed to find your jar"
Android studio failed to find the jar file of dependencies.

Error:A problem occurred configuring project ':app'.

     Searched in the following locations:
         https://jcenter.bintray.com/com/github/rockerhieu/emojicon/v1.0/emojicon-v1.0.pom
         https://jcenter.bintray.com/com/github/rockerhieu/emojicon/v1.0/emojicon-v1.0.jar

[2016-03-01 09:29] rockerhieu commented on #115
The latest version is `1.3.3`.

[2016-03-01 09:29] #115 closed

[2016-03-02 04:46] DeepakRattan opened #117 "Emoticons are always added to the beginning"
Hi,
I am using your library in my project .After using your library i found the problem that when i am adding emoji after writing some text in the EmojiconEditText ,emoji is always added to the beginning and the text is deleted.Please help me to fix the issue .

[2016-03-04 09:08] burntbear00 opened #118 "EmojiconEditText Laggy when pressed and holded "Return" button on Soft KeyBoard to clean up the text of EmojiconEditText"
EmojiconEditText was very very laggy when pressed and holded "Return" button on Soft KeyBoard to clean up the text of EmojiconEditText.

Test on Nexus 5 5.1 & 6.0.1

[2016-03-04 15:05] burntbear00 commented on #118
And the device hanged and No response.

[2016-03-04 15:06] burntbear00 commented on #103
Hello, i also have this laggy.

[2016-03-06 15:42] #113 closed

[2016-03-06 15:45] WanClem opened #119 "How to prevent emojicons from showing at the bottom"
Hello,nice library Emojicon...I tried showing Emojicon in EmojiconTextView but the Emoticon is showing at the bottom of the EmojiconTextView instead of flowing along with the other characters in the EmojiconTextView..What do I do? Thanks.

[2016-03-06 15:54] burntbear00 commented on #119
I also have this problem.
Btw, i used a alternative method to solve it.
Add these three line in EmojiconTextView on your XML file.
android:lineSpacingMultiplier="1.15"
            android:textSize="17sp"
            emojicon:emojiconSize="24sp"

[2016-03-06 17:07] WanClem commented on #119
Thanks @burntbear00 ,it worked,U rock!!!

[2016-03-06 17:49] burntbear00 commented on #119
Nice :) +1:

[2016-03-06 17:50] #119 closed

[2016-03-07 08:54] achavhan opened #120 "Add latest emoji support. just like whatsapp"

[2016-03-09 22:19] saeed-rz opened #121 "Emoji grid is empty"
i add fragment to layout but emoji grid is empty!!
emoji tabs show and change when slide to side but nothing show in grid!

[2016-03-09 22:55] saeed-rz commented on #121
sorry, i think this is my mistake!
when i use

emoji item disappear.!
it's ok now :+1:

[2016-03-10 01:58] w8320273 commented on #49
\ue32d SBUnicode
\U+1F49C Unified

[2016-03-10 22:50] saeed-rz commented on #121
#122

[2016-04-07 13:13] rockerhieu commented on #120
@achavhan can you give me more details on this feature request?

[2016-04-13 07:39] bhavik3jain opened #123 "Cannot display the nerd face"
I have been struggling with this for far too long. I want to display the nerd face http://emojipedia.org/nerd-face/ but am unsure how to go about it:

This is the current XML I have:

<com.rockerhieu.emojicon.EmojiconTextView
        android:id="@+id/txtEmojicon1"
        android:text=""
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:textSi

[2016-04-13 13:20] burntbear00 commented on #123
\u1F913
??

[2016-04-13 15:36] bhavik3jain commented on #123
I tried that but I just get some weird character

[2016-04-13 16:34] burntbear00 commented on #123
\u1F913 is new emoji of Whatsapp/ Apple. This emoji textview library is not updated.
Therefore, we cannot use the newest emoji of Whatsapp in this library.
Sad but true. :(
Bro i know that feel.

[2016-04-13 16:35] burntbear00 commented on #123
Hope the library creator add the newest emoji.

[2016-04-13 17:30] bhavik3jain commented on #123
The thing is, I was looking through the library code and saw the JPEG/PNG files for the newest emojis. So I am assuming there must be a different way to call these emojis that we do not know of

[2016-04-15 08:43] burntbear00 commented on #123
oh  ,  lets find find

[2016-04-18 16:53] indiandragon opened #124 "Using non SBUnicode Emoji's"
I'm using EmojiconTextView , Emoji's get displayed when using SBunicode like \ue32d  . But not able to display any other Emoji's .

    <string name="emoji">But why are you not displaying  \u1f523</string>

e.g
1. codepoints like this U+1F625
2. "\uD83C\uDF56"
3. UTF-32 decimal like this 127830
4. UTF-32 HEX like this 0x0001F356
5. 0xD83C 0xDF56
6. /u1f356

I could see that in the example project

[2016-04-21 08:48] wizardkhinz18 opened #125 "emoji font size not working"
<com.rockerhieu.emojicon.EmojiconTextView
            android:id="@+id/message"
            xmlns:custom="http://schemas.android.com/apk/res/com.ogadriva.android"
            xmlns:emojicon="http://schemas.android.com/tools"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:maxWidth="@dimen/chat_message_width"
            android:t

[2016-04-22 04:54] sqq222 opened #126 "compile 'com.rockerhieu.emojicon:library:<latest-version>' ,用不了"

[2016-04-22 19:04] daniele-athome opened #127 "Correct emoji ordering by unicode standard"
I think there is an order to things :-)
http://www.unicode.org/emoji/charts/emoji-ordering.html

[2016-04-24 15:07] burntbear00 commented on #126
compile 'com.rockerhieu.emojicon:library:1.3.3'

[2016-04-30 13:41] giorgiaditom opened #129 "different unicode"
Hi!thanks for this awesome library. I'd like to know why the emojii have different format.
For example `public static final Emojicon[] DATA = new Emojicon[]{
            Emojicon.fromChars("\u0031\u20e3"),
            Emojicon.fromChars("\u0032\u20e3"),
            Emojicon.fromCodePoint(0x1f51f),
            Emojicon.fromCodePoint(0x1f522),
            Emojicon.fromChars("\u0023\u20e3"),

[2016-05-03 09:04] voidstarfire opened #130 "Error:Execution failed for task"
Added this project, get the following when trying to compile

Error:Execution failed for task ':app:processProductionDebugManifest'.

  	is also present at [com.rockerhieu.emojicon:library:1.0] AndroidManifest.xml:4:45-81 value=(@drawable/ic_launcher).
  	Suggestion: add 'tools:replace="android:icon"' to <application> element at AndroidManifest.xml:27:5-192:19 to override.]

[2016-05-30 10:28] SarahSami opened #131 "emojis are black/white and not reflected properly"
on my device 4.1.1 API 16 most of emojis are not reflected properly and not coloured ,however, i have whatsapp on that device and emojis works well on it

![screen shot 2016-05-30 at 12 16 45 pm](https://cloud.githubusercontent.com/assets/966400/15647118/fb4b8708-2661-11e6-81dc-cca782d3098d.png)

[2016-07-02 09:46] ansarisufiyan777 commented on #4
mFragment is also need to instantiate in onCreate()
mFragment = new YourFragment();

[2016-07-04 19:46] saeed-rz commented on #130
use

in your manifest

[2016-07-11 14:55] AljoSt commented on #12
I don't know if this is applicable to SQLite, but I just get the String from the EditText (`EmojiconEditText.getText().toString()`), and then de/encode the string as described [here](http://stackoverflow.com/questions/25074112/how-to-encode-and-decode-emoji-in-android/28273410#28273410)

[2016-07-11 15:02] AljoSt opened #132 "Adding data to the Emojicon Map"
Hey, I was wondering, if it is possible to add custom "rules" to the Emojicon-Map. Right now, Emojicons like :-) are not converted to proper images. It would be good, if it would be possible to have a method like `addSubstitution(String original, String subsitution)` ->   `addSubstitution(":-)", _correspondingUnicode_)`

[2016-07-13 05:15] seema7 commented on #12
You can save the emoticons into Sqlite db by saving the emoticon's emoji i.e use StringEscapeUtils.escapeJava(EmojiconEditText.getText().toString());
to get the uniocode of the emoji and save it to Sqlite.
To retrieve back the emoticon from that unicode use
StringEscapeUtils.unescapeJava(<unicode_emoticon>);
and set the value received from above to a textview which displays the required emoticon .

[2016-07-19 07:50] tjoshi03 opened #133 "failed to resolve"
Error:(35, 13) Failed to resolve: com.github.rockerhieu:emojicon:v1.0
<a href="openFile:C:/Users/lenovo/AndroidStudioProjects/NewInCity/app/build.gradle">Show in File</a><br><a href="open.dependency.in.project.structure">Show in Project Structure dialog</a>

[2016-07-31 04:31] manishkungwani commented on #99
Works for me as well.

[2016-08-03 02:44] rockerhieu commented on #132
Yes it is possible but it will impact the performance a lot if the custom map is getting bigger.

[2016-08-03 02:45] rockerhieu commented on #133
Should be `io.github.rockerhieu:emojicon:1.4.0` now.

[2016-08-03 02:45] #133 closed

[2016-08-03 02:45] rockerhieu commented on #126
It is `io.github.rockerhieu:emojicon:1.4.0` now.

[2016-08-03 02:45] #126 closed

[2016-08-03 02:47] #125 closed

[2016-08-03 03:00] rockerhieu opened #134 "Implement EmojiconKeyboard"
Implement a custom view that is similar to EmojiconGridFragment

[2016-08-03 03:15] rockerhieu opened #135 "Implement EmojiconKeyboardPopup"
A popup contains an `EmojiconKeyboard` and can integrate nicely with the built-in soft keyboard

[2016-08-03 03:16] rockerhieu opened #136 "Theming support for EmojiconKeyboard"
To support at least dark (current) and light (https://github.com/instachat/emoji-library) theme.

[2016-08-03 06:57] rockerhieu commented on #121
@saeed-rz can you send a minimum example project here?

[2016-08-03 07:43] rockerhieu opened #137 "Allow to support emoji rendering for any app with very least code changes"

[2016-08-03 16:21] saeed-rz commented on #121
@rockerhieu yes i can, but currently i am very busy, i try send sample project very soon

[2016-08-11 07:58] sunil-singh-chaudhary opened #138 "cant import it"
I am try to import it but failed evrey time

 compile 'com.github.rockerhieu:emojicon:e0b82cf2ad@aar'

[2016-08-15 03:23] Staray opened #139 "使用EmojiconEditText，不能弹出软键盘"
`compileSdkVersion 23
buildToolsVersion '23.0.1'
targetSdkVersion 23`

这样的设置无法弹出软键盘（系统输入法），有人遇到同样的问题吗？

[2016-08-15 03:27] tudiheshifu123 commented on #139
那就手动延迟200毫秒左右弹出软键盘试试吧

2016-08-15

tudiheshifu

发件人：Staray <notifications@github.com>
发送时间：2016-08-15 11:23
主题：[rockerhieu/emojicon] 使用EmojiconEditText，不能弹出软键盘 (#139)
收件人："rockerhieu/emojicon"<emojicon@noreply.github.com>
抄送：

compileSdkVersion 23
buildToolsVersion '23.0.1'
targetSdkVersion 23
这样的设置无法弹出软键盘（系统输入法），有人遇到同样的问题吗？
—
You are receiving this because you are subscribed to this thread.
Reply

[2016-08-18 03:42] wizardkhinz18 commented on #138
compile 'io.github.rockerhieu:emojicon:1.4.0'

[2016-08-18 08:15] #138 closed

[2016-08-23 12:38] Allen-Cai commented on #139
我今天也遇到这个问题了，放在fragment中，版本是22，点击的时候弹不出软键盘。。一会试试楼上延时手动弹出软键盘可以不

[2016-08-24 06:05] VishalThareja opened #140 "Issue Regarding Country Flags"
Hi Team,

Issue is regarding country flag not available in list as you mentioned you had taken from Emoji-Cheat-Sheet.com but on their main website all icons are available, so if possible update your emoji drawer with country flags and many more if some missing

[2016-08-24 23:25] AlexMercier opened #141 "input emoji at the center of text"
When we add emoji at the end of EditText, we just use emojiEdit.appen(emoji),
 But  When we input emoji at the center of body, we must find real characters position, not a visible positions.
 So, method `EmojiconsFragment.input(mEmojiconEditText, emojicon);` is incorrect, and when I use it, i see '?' symbols after input emoji.
![](http://i1.imageban.ru/out/2016/08/25/43758307c4d9b5280d357d86107920

[2016-08-24 23:26] #106 closed

[2016-09-05 07:38] Elder-Wu opened #142 "关于项目的依赖问题"
# 第一个问题
官网上是这么说的
## Building in `IntelliJ`

**Via Gradle:**

**compile 'io.github.rockerhieu:emojicon:<latest-version>'**
请问latest-version这里应该要怎么写，请给我一个具体的、能用的、有效的写法

[2016-09-06 13:43] pluzmedia opened #143 "EditTextView not editable"
Hi,
 I am facing a new issue it looks strange. EmojiconEditText looks like a TextView not EditTextView. So there was no option to add characters.

Thanks

[2016-09-06 14:47] rockerhieu commented on #143
Can you send the xml and java code?

On Sep 6, 2016 8:43 PM, "pluzmedia" <notifications@github.com> wrote:

Hi,
I am facing a new issue it looks strange. EmojiconEditText looks like a
TextView not EditTextView. So there was no option to add characters.

Thanks

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/ro

[2016-09-15 22:44] alefz3r0 commented on #112
same problem here, when using in fragment

[2016-09-16 11:48] dangerchitthu opened #144 "How to integrate into actual softkeyboard"
How to integrate into actual softkeyboard

[2016-09-17 17:47] Snake22 opened #145 "flags show as default in fragment"
Why flags show as default android symbols? not emoji. See the screenshot:
![image](http://i.imgur.com/XWHJmPW.png)

[2016-09-17 17:50] Snake22 opened #146 "more emojis in fragments"
Hi. Please add new emojis in EmojiFragments.
Like in Telegram:
![image](http://i.imgur.com/S6XxSXq.png)

[2016-09-17 21:47] dangerchitthu commented on #146
Hi please
How to integrate into actual softkeyboard

[2016-09-18 08:04] Sermilion commented on #38
Does not work for me.

[2016-09-21 11:16] pratikdeogade commented on #126
latest version?

[2016-09-21 12:26] rockerhieu commented on #126
Latest version is 1.4.2

On Sep 21, 2016 6:16 PM, "pratikdeogade" <notifications@github.com> wrote:

[2016-09-22 03:55] LeronX commented on #142
compile 'io.github.rockerhieu:emojicon:1.4.1'

[2016-09-22 08:46] QIWANG-2015 commented on #142
compile 'io.github.rockerhieu:emojicon:1.4.2' 目前是这个版本哦！！！

[2016-09-29 07:03] AnkurJagani opened #147 "Emoji overlapping..."
Emojis are overlapping when it is more than 1 row. Would you please help me with same?

![device-2016-09-29-122818](https://cloud.githubusercontent.com/assets/7710697/18944083/ef43e998-8640-11e6-8040-14707b6718b2.png)

Thanks in advance!!!

[2016-09-29 09:55] rockerhieu commented on #147
Can you try using `android:lineSpacingMultiplier="2"`?

[2016-09-30 12:19] AnkurJagani commented on #147
so it will also space when normal text. right?

[2016-10-05 19:42] saeed-rz commented on #121
sorry for late

[2016-10-05 19:43] saeed-rz commented on #121
where should i upload sample project?

[2016-10-06 01:45] rockerhieu commented on #121
Here!

On Thu, Oct 6, 2016 at 2:43 AM Saeed_rz <notifications@github.com> wrote:

[2016-10-06 08:06] saeed-rz commented on #121
i cant upload zip file here, so uploaded on this server
[source](http://164.138.23.237/src.zip)
the zip file contain "src" folder of project
the fragment show at the bottom of view, and with some customization can show emoji on keyboard position
hope its helpful

[2016-10-10 15:08] amirghm opened #148 "add new ios emojies"
hi please add recently added emojies to your library,

look at this link http://emojipedia.org/apple/ios-9.1/
and this http://emojipedia.org/apple/ios-10.0/changed/

[2016-10-27 15:23] edu1525 opened #149 "Emojis too small"
Hi, I'm using emojicon inside a FrameLayout, but the emoticons are really small, how can I change those size? Thanks!

[2016-11-06 06:11] saeed-rz commented on #121
is sample project helpful?

[2016-11-06 06:14] saeed-rz commented on #149
did u change the width and height of emoji cell?

[2016-11-06 13:49] edu1525 commented on #149
No, i didn't. How can I do it? Thanks.
________________________________
De: Saeed_rz <notifications@github.com>
Enviado: domingo, 6 de novembro de 2016 04:14:43
Para: rockerhieu/emojicon
Cc: edu1525; Author
Assunto: Re: [rockerhieu/emojicon] Emojis too small (#149)

did u change the width and height of emoji cell?

-
You are receiving this because you authored the thread.
Reply to this email direc

[2016-11-06 19:22] saeed-rz commented on #149
in emojicon_grid.xml file change grid property like below
`<GridView xmlns:android="http://schemas.android.com/apk/res/android"
          android:id="@+id/Emoji_GridView"
          android:layout_width="fill_parent"
          android:layout_height="fill_parent"
          android:background="@android:color/transparent"
          android:cacheColorHint="@android:color/transparent"
          android:

[2016-11-10 03:44] wanyt opened #151 "Just one column emoji in io.github.rockerhieu.emojicon.EmojiconsView"
I copy the code in com.rockerhieu.emojicon.example.EmojiconsActivity and R.layout.activity_emojicons into my project, when I run my project it just one column emoji in EmojiconsView. This is the picture link: http://oc3k2hfgm.bkt.clouddn.com/282515153315829018.jpg, Can you help me to solve the problem.

[2016-11-12 12:27] sallezze opened #152 "In my android.support.v4.app.Fragment I can not make the method setEmojiconFragment work"
Hello everyone.

In my android.support.v4.app.Fragment I can not make the method work

 Private void setEmojiconFragment (boolean useSystemDefault) {
       GetSupportFragmentManager ()
                .beginTransaction ()
                .replace (R.id.emojicons, EmojiconsFragment.newInstance (useSystemDefault))
                .commit ();
    }

I have tried in several ways to get the getSupport

[2016-11-25 02:32] LongAgoLong opened #153 "add method to transform emojiSpan to code"
add method to transform emojiSpan to code

[2016-11-29 02:33] 925941723 opened #154 "Emojiconize.activity(this).go() error"
Cannot find package io.github.rockerhieu.emojiconize.Emojiconize ,I have been added 'io.github.rockerhieu:emojicon:1.4.1' .

[2016-11-29 04:10] rockerhieu commented on #154
Emojiconize is a different library, you'll have to add it to your project as well: https://github.com/rockerhieu/emojiconize

[2016-11-29 04:10] #154 closed

[2016-11-29 04:11] rockerhieu commented on #147
Yes it will.

[2016-11-29 04:12] rockerhieu commented on #144
I'm working on another library to support the softkeyboard. You can add almost anything to the keyboard, i.e stickers, take photo, location picker, ... Stay tune.

[2016-11-29 04:15] rockerhieu commented on #151
You can specify the number of column just like you can with a normal GridView. See https://github.com/rockerhieu/emojicon/blob/master/library/src/main/res/values/styles.xml.

[2016-11-29 04:15] #151 closed

[2016-11-29 04:18] rockerhieu commented on #153
What do you mean?

[2016-11-29 04:19] rockerhieu commented on #152
The host activity must implement interface `OnEmojiconBackspaceClickedListener`. You can have a look at the example project.

[2016-11-29 04:19] #152 closed

[2016-11-29 04:20] rockerhieu commented on #149
Using `emojicon:emojiconSize="36dip"` like @saeed-rz mentioned should work.

[2016-11-29 04:20] #149 closed

[2016-12-07 09:13] Sahana312 opened #155 "add stickers"
Hey nice library!. Can we add our own custom stickers? If so, how to do that?

[2016-12-09 08:15] wizardkhinz18 commented on #155
I'd like your suggestion, I hope he will consider this stuff.

[2017-02-07 18:08] jeancsanchez opened #157 "There are any update about big emojis on Whatsapp?"
The latest update of Whatapp, the emojis are big, and this library continues showing small emojis.

[2017-02-16 05:25] xyy465925800 opened #158 "编译报错"
@IntDef({DynamicDrawableSpan.ALIGN_BASELINE, DynamicDrawableSpan.ALIGN_BOTTOM})
    public @interface Alignment {
   }

Error:Execution failed for task ':app:compileDebugJavaWithJavac'.

[2017-02-23 23:38] akshaylamba commented on #155
can We add some Custom emojis ....or a new Tab...

[2017-02-28 00:10] orenafek opened #159 "Use Emojicons with SoftKeyboard"
How can I determine if an integer represents a legal Emojicon?
I'm trying to dynamically add an Emoji key, and then detect it when its pressed.

This is my key addition snippet
[code]
And here I'm trying to detect it
[code]

How can I implement the `isEmoji` method?

[2017-03-01 19:41] MustanserIqbal93 commented on #1
I got the solution for saving Emoji in Database
do it like this in android code

`byte[] data = editTextFieldWithEmojis.getText().toString().getBytes("UTF-8");
                base64String = Base64.encodeToString(data, Base64.DEFAULT);`

`byte[] data = Base64.decode(stringWithEmojis, Base64.DEFAULT);
                newStringWithEmojis = new String(data, "UTF-8");`

[2017-03-10 20:19] robertfernanV opened #160 "Set Span with custom Emoji"
Hello, I'm using google translate. If i create emoji custom sdcard i show it and then erase that emoji the emojicon EmojiconTextView does not resize well

This is my construct of EmojiSpan
[code]

This is my code to create the span
[code]

This is my code to getDrawable
[code]

thanks for your help

[2017-03-12 14:24] #160 closed

[2017-05-03 01:34] icuihai opened #161 "怎么把输出来的表情转换成类似这样的字符串\ue32d"
怎么把输出来的表情转换成类似这样的字符串\ue32d

[2017-05-03 02:21] TakWolf commented on #161
[code]

[2017-05-03 02:47] emirmg commented on #161
X   bsvahzxxb scX   bdvd kaB-)  vcb
On May 3, 2017 6:04 AM, "崔海" <notifications@github.com> wrote:

[2017-06-01 12:39] prafulSingh commented on #44
anyone got any working solution..
please share

[2017-06-15 08:57] Benkarsam commented on #136
How Can I Implement this (https://github.com/instachat/emoji-library) please help me

[2017-06-16 01:52] AttITuder commented on #48
@daniele-athome How did you solve the problem at last?

[2017-06-16 01:55] AttITuder commented on #48
@rockerhieu when i enter more emojicons and they are out of the view then I am not able to show ellipsis.Please help.

[2017-06-16 07:35] daniele-athome commented on #48
@AttITuder I did not solved it.

[2017-06-18 15:09] simba578 opened #162 "Emojis showing as two question marks on receipt"
When I send an emoji everything is fine but when I receive it it's two question marks. Can you please help. Thank you in advance.

[2017-06-19 05:48] AttITuder commented on #48
@daniele-athome How did you deal with it?

[2017-06-19 05:52] daniele-athome commented on #48
The bug is still there :-(

[2017-06-20 01:05] fangithubgithub opened #163 "How do I pass emojicon as a string to the backend server?"
How do I pass emojicon as a string to the backend server?

I hope I can give you an answer

[2017-07-01 16:14] rupinderjeet opened #164 "Support Gif Emoji Images"

[2017-07-07 06:35] miladr0 opened #165 "how to change size of emojiconSize programmatically ?"

[2017-07-07 06:37] emirmg commented on #165
X  KW  BNQHL NPD B-) VBBNHNGHH
On Jul 7, 2017 11:05 AM, "Milad Ranjbar" <notifications@github.com> wrote:

[2017-07-11 18:22] omercakici commented on #151
two different namespace !!!!
the codebase namespace is: io.github.rockerhieu
but gradle jar file com.rockerhieu.emojicon

and all side conflicts!!

[2017-07-11 18:23] omercakici commented on #151
there is EmojiconPage struct in

compile group: 'io.github.rockerhieu', name: 'emojicon', version: '1.3.4'

[2017-07-12 07:25] zjc commented on #44
public class EmojiconSpan extends DynamicDrawableSpan {

    private final Context mContext;

    private final int mResourceId;

    private Drawable mDrawable;

    private WeakReference<Drawable> mDrawableRef;

    public EmojiconSpan(Context context, int resourceId, int emojiSize, int alignment, int textSize) {
        super(alignment);
        mContext = context;
        mResourceId = resourc

[2017-07-12 07:26] rockerhieu commented on #44
@zjc can you send a PR for this?

[2017-07-12 07:33] zjc commented on #44
sorry for my pool english ,i modify the EmojiconSpan.java, you can add a emojiconAlignment wrap_drawable  for Solve this problem

[2017-07-21 04:57] hnvn commented on #163
take a look: https://stackoverflow.com/questions/25074112/how-to-encode-and-decode-emoji-in-android

[2017-07-27 13:36] kot331107 commented on #165
@miladr0 hope it will help:
`emojiconTextView.setEmojiconSize(32); //32 pixels. `
Use something like `(int)(32*getResources().getDisplayMetrics().density)` to set size 32dp from code

[2017-07-31 13:47] tongcpp commented on #48
@AttITuder @daniele-athome This class almost saves me : https://github.com/google/iosched/blob/master/android/src/main/java/com/google/samples/apps/iosched/ui/widget/EllipsizedTextView.java

[2017-08-16 12:15] ABBIGADDU opened #166 "Emojies view is very small can i change it to Big size"
<img width="326" alt="comments" src="https://user-images.githubusercontent.com/21194797/29362697-98840c02-82aa-11e7-936e-dc02ffaba556.png">

Can i make it to big size

[2017-08-20 06:35] jayantsingh304 opened #167 "giving crash on using it in xml of custom notification"
08-20 11:45:32.481 1951-1951/com.android.systemui E/StatusBar: couldn't inflate view for notification com.mechmocha.unityproject/0xf
                                                               android.view.InflateException: Binary XML file line #24: Error inflating class io.github.rockerhieu.emojicon.EmojiconTextView
                                                                   at android.

[2017-08-27 11:20] miladr0 commented on #165
@kot331107 tnx for your help

[2017-08-27 11:20] #165 closed

[2017-08-29 02:59] riseLishan opened #168 "不知道怎么用"
不知道怎么用

[2017-09-06 15:43] zamonitorom commented on #166
I have the same problem

[2017-09-08 06:37] gelZK commented on #166
I have the same problem too...

[2017-09-11 18:59] srameshr opened #169 "React native port of this library"

[2017-09-13 06:38] Harsh8080 opened #170 "Can anyone edit GB WhatsApp source code in such a way that it also shows toast when someone sees your profile picture or profile, like it shows toast when someone sees your story"

[2017-10-20 13:05] thab90 commented on #147
![emoji](https://user-images.githubusercontent.com/5838962/31822149-faa9e2aa-b5a7-11e7-8c8b-639139fefd13.png)

When I use `android:lineSpacingMultiplier="2"` it spaces everything, is it possible ensure the padding is normal without changing line spacing?

[2017-11-07 10:35] voghDev commented on #154
+1 having this issue. We both fell in the same mistake. Maybe the documentation should be clearer about this, telling that the line

    Emojiconize.activity(this).go()

belongs to another library

[2017-11-14 12:31] verybluebot opened #171 "Installation issue"
Hi,
Cant install package. Added
` compile 'io.github.rockerhieu:emojicon:1.4.2`
to `Gradle`, syc project and still getting

that `import io.github.rockerhieu.emojiconize.Emojiconize;`
is not recognized when trying to import inside my activity.

Thanks

[2017-11-15 02:40] rockerhieu commented on #171
If you want to use emojiconize then add this line into your build.gradle:
```compile 'io.github.rockerhieu:emojiconize:1.0.0```

[2017-11-15 02:40] #171 closed

[2017-11-15 02:42] rockerhieu commented on #154
I will update the doc soon. Thanks!

[2017-11-15 02:43] rockerhieu commented on #170
Please ask on StackOverFlow.

[2017-11-15 02:43] #170 closed

[2017-11-15 11:58] verybluebot opened #172 "How to change color of the icons bar"
Is it possible to change color for the emojis groups (upper side of the image attached)
I would like the background to stay the same and the icons for the group to be darker

<img width="280" alt="screen shot 2017-11-15 at 1 54 44 pm" src="https://user-images.githubusercontent.com/18744339/32834908-e7df1086-ca0c-11e7-8f1d-e275e7fd6415.png">

also is it possible to change the background color?

Tha

[2017-11-24 01:35] lpy19930103 commented on #166
I have the same problem too...

[2017-11-30 06:35] missmess opened #173 "Move emoji files from drawable-nodpi to internal storage cause performance problem"
I'm tring to move all the emoji pngs from **drawable-nodpi** into **internal storage**, but when showing all of the emojis in a TextView, load emoji from the drawable-nodpi dir is near 10 times faster than loading from the internal storage. Here is my modified **EmojiconSpan.java**:
[code]

I dont know why it happens? And how can I move emojis to internal storage and keep it load as fast as it was

[2017-11-30 06:42] missmess commented on #173
I want to reduce the apk size by remove the emojis(5.8M) from apk, and download background when app opened.

[2017-12-20 08:43] KafukaChen opened #174 "Your emoji is picture?not unicode？"
Your emoji is picture?not unicode？

[2017-12-25 10:37] SuperHanMr opened #175 "这个 库为什么使用的时候 出现单列表情"

[2018-02-22 05:31] AnkurJagani commented on #147
It will be very fine if you follow suggestion from @thab90

[2018-03-04 07:25] hErBiDoY opened #176 "Could not find method bintray() for arguments [bintray_76nw0u7j417qv9737qxp1fqli$_run_closure6@a1d2b78] on project ':library' of type org.gradle.api.Project."
In the library's build.gradle... the apply from: bintray.gradle. causes this build error

[2018-03-04 08:03] rockerhieu commented on #176
In https://github.com/rockerhieu/emojicon/blob/master/library/build.gradle I see that statement is commented. It should not cause any issue.

[2018-03-04 08:03] #176 closed

[2018-03-04 08:04] rockerhieu commented on #174
Yes, they are images. This library is used for devices that don't have any emoji font pre-installed.

[2018-03-04 08:04] #174 closed

[2018-03-26 02:14] lhholylight opened #177 "lineSpacingExtra is 0 and set lineSpacingExtra is invalid"

[2018-04-04 06:24] jayronlou commented on #48
Tong Wong(tongcpp)'s   url can't open ,now please open this class :https://android.googlesource.com/platform/external/iosched/+/HEAD/android/src/main/java/com/google/samples/apps/iosched/ui/widget/EllipsizedTextView.java

[2018-04-18 09:44] Helen0612 opened #178 "如何自定义表情？或者说，表情图片所对应的key是怎么得来的呢？"

[2018-05-03 06:29] wilsonssss commented on #91
it works like a charm~ thank you man

[2018-05-22 03:31] lfh1991 opened #179 "同时输入文字和表情的时候，发现文字和表情没有一起居中！"
如题，同时输入文字和表情，文字会在底部，然后表情居中了，应该要文字和表情一起居中吧

[2018-05-28 03:39] paradise0love opened #180 "emoji , html"
EmojiconTextView.setText(emoji+Html.fromHtml("aaa" + "<font color='#0DB6D7' size='14'>bbb</font>")));   , html not working.

[2018-06-16 13:12] BseAdmin opened #181 "Is there any way can we check entered charector is emoji or not?"
Hi, any option to check the entered charector is emoji or not, because I want to count how many  emojis i entered in the EditText with the Normal text.

[2018-06-26 08:45] mayank1513 commented on #99
It's not working for me too. Do we need to add some intent filter in manifest?

[2018-08-02 03:46] ZooTopiaGG opened #182 "s"
:bowtie:

[2018-08-02 03:46] #182 closed

[2018-08-07 10:01] amritsahay opened #183 "How can we customize this to support viewmore in the textview like whatapp. Please suggest"

[2018-10-04 08:32] kkman2008 commented on #178
you should check the source code.
BTW,  as the international portal, you should you international language English.

[2018-11-29 03:21] rockerhieu commented on #181
You can just count the number of `EmojiconSpan` in `EditText#getText()`

[2018-11-29 03:21] #181 closed

[2018-12-18 02:36] toutoumu opened #184 "androidX support"
androidX

[2019-02-06 19:59] ghost opened #185 "i Can't Add the Java on AIDE. 😵"
it Says: Unknown type or package, entity, method and member. Method *command* does not override method from its superclass

[2019-02-07 04:18] rockerhieu commented on #185
You should contact AIDE's developers.

[2019-02-07 04:18] #185 closed, assigned to nobody

[2019-02-26 02:20] taany6210 opened #186 "请教一下，如果我得到的emoji表情是这样的 /::D 该如何转换成Unicode编码呢？"
后台发送过来的emoji表情接收到的json数据为： /::D  要如何转换成Unicode  \uabcd 这样子。

[2019-05-14 05:12] arronvera opened #187 "Can Support Gif Emoji Images？"

[2019-05-14 07:09] rockerhieu commented on #187
Technically yet. You can extend EmojiconSpan and make it support animated emoji.

[2019-05-14 07:09] #187 closed, assigned to nobody

[2019-05-14 08:22] arronvera commented on #166
modify the
emojicon_grid.xml、emojicon_item.xml

[2019-06-10 03:07] ywlm423 opened #188 "Too much resources"

[2019-07-23 08:19] github583431183 commented on #179
重写getSize方法：

@Override
        public int getSize(Paint paint, CharSequence text, int start, int end, Paint.FontMetricsInt fontMetricsInt) {
            Drawable drawable = getDrawable();
            Rect rect = drawable.getBounds();
            if (fontMetricsInt != null) {
                Paint.FontMetricsInt fmPaint = paint.getFontMetricsInt();
                int fontHeight = fmPaint.bottom -

[2019-10-12 02:25] BarkSheep opened #190 "采用系统默认表情 将选择表情背景换成白色时 键盘上显示的表情颜色变淡"
采用系统默认表情，将选择表情背景换成白色时，键盘上显示的表情颜色变淡，请问这种情况该如何解决。我看了源码，并没有找到问题出在哪里，采用非系统默认表情时显示正常。

The default emoticon is adopted. When the background of the selected emoticon is changed to white, the emoticon color displayed on the keyboard will be diluted. May I ask how to solve this situation?I looked at the source code, and did not find the problem is where the non-system default emoticon display normal.

[2019-10-20 18:12] Liveinadream opened #191 "set emoji text BackgroundColorSpan not work"
use system can set BackgroundColorSpan(),but no working on self.What is the solution.

[2019-10-20 18:19] Liveinadream commented on #191
here is my code

`
  public CharSequence buildSpannableStringBackground(CharSequence content, CharSequence keyword) {
        if (TextUtils.isEmpty(content)) {
            return new SpannableStringBuilder("");
        }

        if (TextUtils.isEmpty(keyword)) {
            return content;
        }
        SpannableStringBuilder spannableString = new SpannableStringBuilder(content);
        Stri

[2019-10-20 18:20] Liveinadream commented on #191
![Screenshot_2019-10-20-22-15-33-218_com rockerhieu](https://user-images.githubusercontent.com/20057805/67164106-c1dafe80-f387-11e9-87b4-bb573bc996b7.png)
![Screenshot_2019-10-20-22-16-43-345_com rockerhieu](https://user-images.githubusercontent.com/20057805/67164107-c43d5880-f387-11e9-9d56-f623ec6d5b14.png)

[2021-11-17 03:08] szuwest commented on #12
can you post your 'create table sql'

[2022-06-18 02:32] darmapersadatechnindo opened #193 "the height of the emoji keyboard is not the same as the height of the original keyboard"
the height of the emoji keyboard is not the same as the height of the original keyboard, how to fix it, how..??